<?xml version="1.0" encoding="utf-8"?>
<module type="Alloy.EditModePageConverter.ModuleViewModel.PageConvertModule, Alloy.EditModePageConverter">
  <clientModule initializer="editModePageConverter.initializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="editModePageConverter" path="Scripts" />
    </paths>
  </dojo>

  <assemblies>
    <add assembly="Alloy.EditModePageConverter" />
  </assemblies>
</module>