<?xml version="1.0" encoding="utf-8"?>
<module>

    <clientModule >
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter" />
        </moduleDependencies>
    </clientModule>

    <dojo>
        <paths>
            <add name="extendedHeader" path="scripts" />
        </paths>
    </dojo>
</module>
